:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --bg-color: #000033;
    --secondary-color: #dc143c;
    --light-gray: #a6a6a6;
    --gap: 3rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
    font-size: 2rem;
    /*color: var(--color-white);*/
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
  
  h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
  
  h3 {
    font-size: 5rem;
}
  
  h4 {
    font-size: 4.5rem;
}
  
  h5 {
    font-size: 4rem;
}
  
  h6 {
    font-size: 3.5rem;
}
  
  a {
    text-decoration: none;
}
  
  p {
    margin-bottom: 3rem;
}

table{
    min-height: auto;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

tfoot tr{
    height: 4rem;
}

table th, tfoot td{
    background-color: var(--light-gray);
}

table td, table th{
    white-space: nowrap;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid var(--light-gray);
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.responsive-table{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.intro-content{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    gap: var(--gap);
    max-width: 100vh;
}

.intro-text-content {
    font-size: 5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content p{
    font-size: 3rem;
}

.intro-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.intro-img2 img{
    max-width: 100%;
    height: auto;
}

.intro-text-content .title{
    /*width: 100vh;*/
    font-size: 8rem;
    text-align: center;
    margin-top: 5rem;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--color-white);
}

.intro-img img{
    max-width: 90%;
    height: auto;
}

.top-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top-content h2{
    font-size: 6rem;
    margin: 3rem;
}

.top-content .information{
    font-size: 5rem;
    color: #ff0000;
}

.top-content img{
    width: 3.8rem;
}

.top-content ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shows-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.shows-content h2{
    font-size: 5;
    padding-bottom: 10rem;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.main-bg{
    background-image: url('../img/bermuda-traingle.svg');
    background-size: cover;
    background-position: center center;
    color: var(--color-white);
}
.second-bg{
    background-image: url('../img/endless-constellation.svg');
    background-size: cover;
    background-position: center center;
    color: var(--color-white);
}

.white-bg{
    background-color: var(--color-white);
}

.support-form{
    grid-column: span 2;
}

.support-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-style: italic;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, 
.form-group  textarea{
    border: none;
    background-color: var(--color-white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.form-group button{
    border: 0.5rem solid var(--secondary-color);
    background: none;
    color: var(--secondary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.form-group::placeholder{
    color: var(--light-gray);
}

.footer{
    text-align: center;
    font-size: 2rem;
}

.footer a{
    color: #000000;
}

.footer p{
    margin: 0;
    padding: 3rem;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #00000096;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--secondary-color);
    transform: rotate(-90deg);
    border: 0.2rem solid var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.back-to-top:hover{
    background-color: var(--color-black);
}

.section{
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container p{
    padding: 0 1rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-black);
    border-bottom: 0.1rem solid var(--light-gray);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 4rem;
    color: var(--secondary-color);
}

.menu h1 a{
    color: inherit;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: var(--default-color);
    position: relative;
    color: var(--color-white);
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.close-menu{
    display: none;
}

@media(max-width: 800px){
    .intro-content{
        grid-template-columns: 1fr;
    }

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--color-black);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 20%;
        border: 0.1rem solid var(--secondary-color);
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing{
        display: none;
    }

    @media(max-width: 320px){
        .intro-text-content .title, .top-content h2, h2{
            font-size: 4rem;
        }

        .top-content .information{
            font-size: 3rem;
        }

    }
}